li {
	display: inline-block;
	border: 1px solid red;
	padding: 0px;
}

textarea {
	height: 150px;
	width: 400px;
}

input[type=text] {
	width: 400px;
}

form {
	border: 1px solid green;
	margin-bottom: 0px;
}

ol {
	padding: 0px;
}