/* отзывы */
.keyBoard{
	background: url(../img/keyboard.png);
	position: absolute;
	width: 1021px;
	height: 506px;
	left: -480px;
	top: -100px;
}
.comment-head{
	font-family: DINProBold;
	font-size: 30px;
}
.comment-subhead{
	font-family: DINProLight;
	font-size: 20px;
	color: #747474;
}
.comment-user-block{
	padding: 0 125px;
}
.commas{
	background: url(../img/comma.png);
	position: absolute;
	width: 105px;
	height: 63px;
	top: -40px;
	left: -20px;
}
/* simple - текст  <h1> для заголовка */
.img-round{
	border-radius: 1000px;
}
.comment-image{
	width: 64px;
	height: 64px;
}

/* ---------------------------------- */ 
.white{
	color: #efce07;
}
.text-right{
	text-align: right;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.p-all-25{
	padding: 25px;
}
.m-r-18{
	margin-right: 18px !important;
}
.m-t-40{
	margin-top: 40px !important;
}
.m-t-20{
	margin-top: 20px !important;
}
.text-justify{
	text-align: justify;
}
.relative{
	position: relative;
}

.w-240{
	width: 240px;
}

.w-720{
	width: 720px;
}

.block-center{
	margin: 0 auto;
}

.column{
	position: relative;
	float: left;
}
.inline-block{
	display: inline-block;
}

.f-15{
	font-size: 15px;
}
.bold{
	font-weight: bold;
}
.gray-line{
	position: relative;
	height: 50px;
	background: #ecebea;
}
.big-num{
  	line-height: 0.9;
	position: absolute;
	font-family: DINProBold;
	font-size: 177px;
	color: #efce07;
	left: 80px;
	bottom: -40px;
}
.small-num{
  	line-height: 0.9;
	position: absolute;
	font-family: DINProBold;
	font-size: 100px;
	color: #efce07;
	right: 80px;
	bottom: -8px;
}
#advice-slider-next a, #advice-slider-prev a{
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
#advice-slider-next a{
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
}
#advice-slider-prev a{
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
}
.interesting:hover .switch > .simple-min{
	display: none;
}
.interesting:hover .switch > .orderButtonInteresting{
	display: block;
}
.interesting .switch > .simple-min{
	display: block;
}
.interesting .switch > .orderButtonInteresting{
	display: none;
}