@font-face {
	font-family: 'DINProLight';
	src: url('../fonts/DINProLight.eot');
	src: url('../fonts/DINProLight.woff') format('woff'), url('../fonts/DINProLight.ttf') format('truetype');
}
@font-face {
	font-family: 'DINProRegular';
	src: url('../fonts/DINProRegular.eot');
	src: url('../fonts/DINProRegular.woff') format('woff'), url('../fonts/DINProRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'DINProBold';
	src: url('../fonts/DINProBold.eot');
	src: url('../fonts/DINProBold.svg') format('svg'), url('../fonts/DINProBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.eot');
	src: url('../fonts/Calibri.woff') format('woff'), url('../fonts/Calibri.ttf') format('truetype');
}
@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
}

html,body {
	height: 100%;
}

body {
	margin: 0px;
	min-width: 960px;
	background-color: #2b2b2b;
}

div.siteBlock_wrapper {
	min-width: 960px;
	overflow: hidden;
	background-color: white;
}

div.siteBlock_container {
	width: 100%;
	min-width: 960px;
	position: relative;
}

div.siteBlock {
	width: 1920px;
	height: 100%;
	position: absolute;
	left: -9999px;
    right: -9999px;
	margin: 0px auto;
	text-align: center;
	z-index: 99;
}

div.content {
	width: 960px;
	height: 100%;
	margin: 0px auto;
}

div.content_fullsize {
	width: 100vw;
	height: 100%;
	margin: 0px auto;
}

div.block0_h {height: 205px;}
div.block1_h {height: 456px;}
div.block2_h {height: 785px;}
div.block3_h {height: 570px;}
div.block4_h {height: 635px;}
div.block5_h {height: 900px;}
div.block6_h {height: 630px;}
div.block7_h {height: 785px;}
div.block8_h {height: 605px;}
div.block9_h {height: 425px;}
div.block10_h {height: 648px;}
div.block11_h {height: 135px;}

div.block0_overlap {
	z-index: 100;
}

div.block0_overlap ~ div.siteBlock_container {
	top: -55px;
	/*top: 150px;*/
}

div.block11_overlap {
	z-index: 109;
}

div.block11_overlap > div.siteBlock {
	height: 190px;
}

.bgPaper {
	background: url('../img/paper_pattern.png');
}

.bgMenu {
	background-color: white;
	background: url('../img/bg_menu.png');
	background-position: bottom;
	background-repeat: no-repeat;
}

.bgPeople {
	background: url('../img/bg_people.png');
}

.bgPeople_dark {
	background: url('../img/bg_people.png');
}
.bgPeople_dark:before {
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	background:rgb(0,0,0);
    background: transparent\9;
	background: rgba(0,0,0,.80);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
}
.bgPeople_dark > div.content {
	position: relative;
	z-index: 100;
}

.bgGray1 {
	background: url('../img/bg_gray1.png');
}

.bgGray2 {
	background: url('../img/bg_gray2.png');
}

.bgLightning {
	background: url('../img/bg_lightning.png');
}

.bgStars {
	background: url('../img/bg_stars.png');
}

.bgYellow {
	background-color: #ffd900;
}

/********************************************************/

div.valignHelper {
	height: 100%;
	width: 0px;
	display: inline-block;
	vertical-align: middle;
	visibility: hidden;
}

div.lightbox_container {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background:rgb(0,0,0);
    background: transparent\9;
	background: rgba(0,0,0,.84);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d6000000,endColorstr=#d6000000);
	z-index: 110;
	text-align: center;
	display: none;
}

div.blur {
	-webkit-filter: url('/#blur');
	filter: url('/#blur');
	-webkit-filter: blur(6px);
	filter: blur(6px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
	-webkit-transition: 1s -webkit-filter linear;
	transition: 1s filter linear;
}

/********************************************************/

div.contacts {
	min-width: 350px;
	padding-top: 30px;
	font-family: DINProRegular;
}

div.contacts_right {
	float: right;
	text-align: right;
}

div.contacts_left {
	float: left;
	text-align: left;
	margin-right: 30px;
	margin-top: 20px;
}

div.itemDescr {
	width: 430px;
	height: 375px;
	background-color: white;
	box-shadow: 0px 0px 3px 3px #aeaeae;
	float: right;
	margin-top: 55px;
	padding: 0px 25px;
	text-align: left;
}

div.itemPhoto {
	height: 375px;
	display: inline-block;
	margin-top: 55px;
}

div.advantageBlock {
	display: inline-block;
	width: 236px;
	height: 190px;
	margin: 0px 0px 15px;
	vertical-align: top;
}

div.iPad {
	float: left;
	margin-top: 60px;
	width: 609px;
	height: 428px;
	background: url('../img/img_ipad.png');
	position: relative;
	z-index: 102;
}

div.iPad_content {
	width: 470px;
	height: 332px;
	margin: 25px 53px;
	background: url('../img/bg_gray_ipad.png');
	padding: 45px 0px 0px 34px;
	text-align: left;
}

div.iPad_content_disabled {
	background-image: url('../img/img_battery1.png');
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-animation: iPad_battery 1.5s infinite;
	-moz-animation: iPad_battery 1.5s infinite;
	-o-animation: iPad_battery 1.5s infinite;
	-ms-animation: iPad_battery 1.5s infinite;
	animation: iPad_battery 1.5s infinite;
}
div.iPad_content_disabled * {
	display: none !important;
}

div.iPad_slot {
	width: 96px;
	height: 161px;
	background: url('../img/img_ipad_slot.png');
	display: inline-block;
	margin-right: 15px;
}

div.iPad_slot_glass {
	width: 96px;
	height: 161px;
	background: url('../img/img_ipad_slot_glass.png');
	display: inline-block;
	position: absolute;
}

div.iPad_slot_container {
	width: 96px;
	height: 161px;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-align: center;
}

div.iPad_slot_container > div {
	width: 96px;
	height: 161px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -161px;
	margin: 0px;
}

div.iPad_buttons {
	width: 96px;
	height: 161px;
	display: inline-block;
	position: absolute;
}

div.iPad_buttons div {
	width: 96px;
	height: 80.5px;
	display: inline-block;
	background-position: bottom;
	background-repeat: no-repeat;
}

div.iPad_buttons a.iPad_play div {	background-image: url('../img/img_ipad_play0.png');	}
div.iPad_buttons a.iPad_stop div {	background-image: url('../img/img_ipad_stop0.png');	}
div.iPad_buttons a.iPad_play:active div {	background-image: url('../img/img_ipad_play1.png');	}
div.iPad_buttons a.iPad_stop:active div {	background-image: url('../img/img_ipad_stop1.png');	}

div.iPad_text {
	margin-top: 45px;
	width: 215px;
	padding-top: 25px;
	display: inline-block;
}

div.promo {
	padding-top: 34px;
	padding-left: 670px;
	text-align: left;
}

div.promo_result {
	border: 1px dashed #9b9b9b;
	text-align: center;
	margin-top: 135px;
	position: relative;
	display: none;
}

div.promo_result_bt {
	border-top: 1px dashed #9b9b9b;
	position: absolute;
	width: 100px;
	left: -100px;
	top: 50%;
}

div.promo_result_bl {
	border-left: 1px dashed #9b9b9b;
	position: absolute;
	height: 50px;
	bottom: -50px;
	left: 50%;
	display: none;
}

div.interesting {
	width: 290px;
	height: 380px;
	max-height: 380px;
	display: inline-block;
	background-color: #ececec;
	margin-right: 40px;
	vertical-align: top;
}

div.interesting:last-child {
	margin-right: 0px;
}

div.interesting_img {
	background-color: white;
	height: 225px;
	overflow: hidden;
	vertical-align: middle;
}

div.interesting_txt {
	padding: 0px 25px;
	text-align: left;
}

div.about {
	text-align: left;
	padding-left: 330px;
}

div.about_img {
	margin-top: 40px;
}

div.lightbox_order {
	width: 630px;
	height: 255px;
	vertical-align: middle;
	color: white;
	display: none;
}

div.lightbox_callback {
	width: 315px;
	height: 255px;
	vertical-align: middle;
	color: white;
	display: none;
}

div.lightbox_title {
	background: #1f1f1f;
	height: 40px;
	text-align: center;
	position: relative;
	padding-top: 10px;
}

form.lightbox_form {
	float: right;
	width: 315px;
	height: 205px;
	background: white;
}

form.standalone_form {
	float: right;
	width: 315px;
	height: 255px;
	background: #f3f3f3;
}

div.lightbox_promo_result_container {
	background:rgb(255,255,255);
    background: transparent\9;
	background: rgba(255,255,255,.20);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);
	height: 205px;
}

div.lightbox_promo_result {
	display: inline-block;
	vertical-align: middle;
}

div.backButton {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 36px;
	z-index: 109;
	display: none;
	text-align: center;
}

div.backButton > a > div {
	width: 72px;
	height: 36px;
	background: url('../img/img_backbutton.png');
	display: inline-block;
}

div.consult_descr {
	text-align: left;
}

div.footerButtonContainer {
	position: relative;
}

div.footerLeft {
	float: left;
	height: 45px;
}

div.footerRight {
	float: right;
	height: 45px;
}

div.footerBottom {
	height: 45px;
	background: #2b2b2b;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px 480px;
}

/********************************************************/

h1 {
	font-family: DINProBold,sans-serif;
	font-size: 47.01px;
	text-transform: uppercase;
	margin: 100px 0px 62px;
	color: #333333;
}

h1.yellow {
	color: #efce07;
	margin-bottom: 40px;
}

div.about h1 {
	margin-top: 80px;
}

div.lightbox_promo_result h1 {
	margin: 6px 0px;
}

div.consult_descr h1 {
	margin-bottom: 0px;
}

h2 {
	font-family: DINProBold,sans-serif;
	font-size: 37.01px;
	text-transform: uppercase;
	margin: 15px 0px;
	color: #333333;
}

h3 {
	margin: 15px;
	font-family: DINProRegular;
	font-size: 21px;
}

h4 {
	margin: 0px;
	font-family: DINProBold,sans-serif;
	font-size: 18px;
}

/********************************************************/

.simple {
	font-family: DINProLight;
	font-size: 16px;
	margin: 0px;
}

div.about p.simple {
	margin-bottom: 10px;
	line-height: 21px;
}

p.simple-bold {
	font-family: DINProBold,sans-serif;
	font-size: 18px;
	margin: 25px 0px 25px;
}

p.simple-min {
	font-family: DINProLight;
	font-size: 14px;
	margin: 0px;
	line-height: 17px;
}

p.itemPrice {
	font-size: 37px;
	font-family: DINProLight;
	margin: 5px 0px;
}

div.contacts p {
	margin: 0px;
}

div.contacts p:first-child {
	font-size: 17px;
}

div.contacts p:last-child {
	font-size: 24px;
}

div.advantageBlock p {
	font-family: DINProBold,sans-serif;
	font-size: 15px;
	font-weight: bolder;
	margin: 16px 31px;
}

div.iPad_text p {
	font-family: DINProRegular;
	font-size: 16px;
	color: white;
	margin: 0px;
}

p.promo_result_big {
	font-family: DINProRegular;
	color: #535466;
	font-size: 35px;
	text-transform: uppercase;
	margin: 0px;
}

div.promo_result p.simple {
	margin: 5px 0px;
}

div.consult_descr p {
	font-family: DINProRegular;
	font-size: 32px;
	margin: 0px;
	color: white;
}

div.footerBottom p {
	font-family: DINProLight;
	font-size: 13px;
	color: #959595;
	margin-top: 15px;
}

/********************************************************/

div.contacts a {
	color: #60a6ca;
}

div.topmenu a {
	text-decoration: none;
	color: black;
}

div.lightbox_title a.lightbox_close {
	position: absolute;
	right: 10px;
	bottom: 5px;
	margin: 0px;
	font-size: 30px;
	font-family: DINProLight;
	font-weight: 100;
	text-decoration: none;
	color: white;
}

div.lightbox_promo_result a.gotoPromo {
	display: inline-block;
	width: 200px;
	height: 22px;
	background: #d74b20;
	font-family: DINProLight;
	font-size: 16px;
	color: white;
	text-decoration: none;
	padding: 10px 0px;
}

div.backButton > a {
	text-decoration: none;
	color: black;
	font-family: DINProLight;
	font-size: 15px;
	margin: 0px;
}

div.footerLeft a {
	color: #ff9800;
}

div.footerRight a {
	color: #ff3b3b;
}

/********************************************************/

img.itemPhoto {
	display: inline-block;
	vertical-align: middle;
}

div.about_img img {
	width: 178px;
	height: 235px;
	margin: 0px 10px 0px 0px;
	border: 1px solid #e4e4e4;
}

div.about_img img:last-child {
	margin-right: 0px;
}

img.floatingImg {
	position: absolute;
}
img.floatingImg1 {
	top: -45px;
	left: 200px;
}
img.floatingImg2 {
	bottom: 110px;
	right: 300px;
}
img.floatingImg3 {
	top: 220px;
	right: 540px;
}
img.floatingImg4 {
	top: -45px;
	right: 300px;
}
img.floatingImg5 {
	top: 108px;
	left: 120px;
}

div.iPad_slot_container > div > img {
	vertical-align: middle;
}

div.footerBottom img {
	padding: 17px 0px;
}

/********************************************************/

p.itemPrice b {
	font-family: DINProBold,sans-serif;
	color: #73caf1;
}

p.simple b , div.iPad_text p b , p.promo_result_big b {
	font-family: DINProBold,sans-serif;
}

/********************************************************/

div.topmenu ul {
	clear: both;
	list-style-type: none;
	float: right;
	padding-right: 35px;
	margin-top: 53px;
}

div.topmenu li {
	margin: 0px 17px;
	min-width: 80px;
	display: inline-block;
	font-family: DINProLight;
	font-size: 17.01px;
}

div.topmenu li:nth-child(5) {
	margin-right: 25px;
	margin-left: 15px;
}

div.topmenu li:nth-child(4) {
	margin-right: 25px;
	margin-left: 40px;
}

div.topmenu li:first-child {
	margin-right: 10px;
}

/********************************************************/

input.itemOrderButton {
	background-color: #6cc7f2;
	background: url('../img/pattern_button.png');
	font-family: Calibri;
	text-transform: uppercase;
	text-align: left;
	border: none;
	position: absolute;
	outline: none;
	color : #333333;
	cursor: pointer;
}
input.itemOrderButton + label {
	background: url('../img/ico_plane.png');
	background-size: contain;
	background-position: center center;
	display: inline-block;
	border-left: 1px solid #5b9cbe;
	position: relative;
}
input#orderButton {
	width: 300px;
	height: 70px;
	border-radius: 35px;
	font-size: 21.53px;
	font-weight: bold;
	padding: 25px 20px;
	box-shadow: 0px 4px 0px 0px #47a5d3;
}
input#orderButton:active {
	box-shadow: 0px 1px 0px 0px #47a5d3;
	margin-top: 3px;
}
input#orderButton + label {
	width: 61px;
	height: 70px;
	left: 230px;
}
input#orderButton:active + label {
	margin-top: 3px;
}
input#orderButtonPromo , input#orderButtonFooter {
	height: 50px;
	border-radius: 25px;
	padding: 17px 0px;
	box-shadow: 0px 3px 0px 0px #47a5d3;
	margin: 25px;
}
input#orderButtonPromo {
	width: 235px;
	display: none;
	font-size: 17.01px;
	padding-left: 20px;
}
input#orderButtonFooter {
	width: 210px;
	margin: 50px 0px 0px;
	font-size: 15.38px;
	right: 0px;
	padding-left: 15px;
}
input#orderButtonPromo:active , input#orderButtonFooter:active {
	box-shadow: 0px 1px 0px 0px #47a5d3;
}
input#orderButtonPromo:active {
	margin-top: 27px;
}
input#orderButtonFooter:active {
	margin-top: 52px;
}
input#orderButtonPromo + label , input#orderButtonFooter + label {
	width: 50px;
	height: 50px;
}
input#orderButtonPromo + label {
	left: 180px;
	display: none;
	margin: 25px;
}
input#orderButtonFooter + label {
	left: 75px;
	margin-top: 50px;
}
input#orderButtonPromo:active + label {
	margin-top: 27px;
}
input#orderButtonFooter:active + label {
	margin-top: 52px;
}
input.orderButtonInteresting {
	width: 240px;
	height: 57px;
	font-family: DINProBold,sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	background-color: #fff343;
	border: none;
	box-shadow: 0px 4px 0px 0px #e8c400;
	outline: none;
	position: relative;
	cursor: pointer;
}
input.orderButtonInteresting:active {
	box-shadow: 0px 1px 0px 0px #e8c400;
	top: 3px;
}

.callback_form input {
    height: 42px;
    width: 265px;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
    outline: none;
}
.callback_form input:first-child {
    margin-top: 25px;
}
.callback_form input[type=submit] {
    background-color: #fff343;
    cursor: pointer;
}
.callback_form input[type=submit]:hover {
    color: #858585;
}
.callback_form input + label {
    position: relative;
    display: inline-block;
    font-size: 20px;
    height: 1em;
    vertical-align: middle;
}
.callback_form input + label:before {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    position: absolute;
    left: -2em;
    top: -.25em;
    border-left: 1px solid #e6e6e6;
    padding-left: .5em;
    color: #1f1f1f;
}
.callback_form input:focus + label:before {
    color: #fff343;
}
.callback_form input[name=phone] + label:before {
    content: "\e000";
}
.callback_form input[name=fio] + label:before {
    content: "\e001";
}

/***************************************************************/

iframe {
	border: none !important;
}

svg {
	position: fixed;
	left: -1000000px;
}

/*#############################################################*/

@-webkit-keyframes iPad_battery {
	0% {background-image: url('../img/img_battery1.png');}
	50% {background-image: url('../img/img_battery2.png');}
	100% {background-image: url('../img/img_battery1.png');}
}
@-moz-keyframes iPad_battery {
	0% {background-image: url('../img/img_battery1.png');}
	50% {background-image: url('../img/img_battery2.png');}
	100% {background-image: url('../img/img_battery1.png');}
}
@-o-keyframes iPad_battery {
	0% {background-image: url('../img/img_battery1.png');}
	50% {background-image: url('../img/img_battery2.png');}
	100% {background-image: url('../img/img_battery1.png');}
}
@-ms-keyframes iPad_battery {
	0% {background-image: url('../img/img_battery1.png');}
	50% {background-image: url('../img/img_battery2.png');}
	100% {background-image: url('../img/img_battery1.png');}
}
@keyframes iPad_battery {
	0% {background-image: url('../img/img_battery1.png');}
	50% {background-image: url('../img/img_battery2.png');}
	100% {background-image: url('../img/img_battery1.png');}
}